<script setup>
import { RouterView ,RouterLink} from 'vue-router';
</script>

<template>
 <div id ="app">
  <el-container>
    <el-header>
    <el-menu
    class="el-menu-demo"
    mode="horizontal"
    background-color="#363637"
    text-color="#fff"
    active-text-color="#ffd04b"  >
    <el-menu-item index="1"><RouterLink to="/">Home</RouterLink></el-menu-item>
    <el-menu-item index="4"><RouterLink to="/categories">Category</RouterLink>
</el-menu-item>
  </el-menu>
  </el-header>
   <RouterView></RouterView>
  </el-container>
  
  

 </div> 
</template>

