<template>
    <el-dialog
      :model-value="visibleData"
      @update:modelValue="hide"
      title="Add Category"
      width="500"
    >
      <el-form :model="formData" ref="catagoryForm">
        <el-form-item label="Name" prop="name">
          <el-input v-model="formData.name"/>
        </el-form-item>
        
        <el-form-item label="Description" prop="detail">
          <el-input v-model="formData.description" type="textarea" />
        </el-form-item>
      </el-form>
      <template #footer>
        <div class="dialog-footer">
          <el-button @click="hide">Cancel</el-button>
          <el-button type="primary" @click="addCategory"> Confirm </el-button>
        </div>
      </template>
    </el-dialog>
  </template>
  
  <script>
  import { ref, watch } from "vue";
  import axios from "axios";
  
  export default {
    props: {
      initialData: {
        type: Object,
        default: () => ({}),
      },
      visible: { type: Boolean, default: false },
    },
    setup(props,{emit}) {
      // สร้าง ref variables
      const formData = ref({
        name: "",
        description: "",
      });
      const visibleData = ref(props.visible);
  
       // เมื่อ props.visible เปลี่ยนแปลงให้อัพเดตค่าของ visibleData
       watch(
        () => props.visible,
        (newValue) => {
          visibleData.value = newValue;
        }
      );
      // ฟังก์ชัน addCategory สำหรับเพิ่มสินค้า
      const addCategory = async () => {
        try {
          const response = await axios.post(
            "http://localhost:3000/categorys",
            formData.value
          );
          console.log("Category added successfully:", response.data);
          // เมื่อเพิ่มสินค้าเรียบร้อยแล้ว ปิด Dialog
          hide();

          FormData.value ={
            name: "",
            description: "",
          };
        } catch (error) {
          console.error("Error adding category:", error);
        }
      };
    
      const hide = () => {
        emit("update:visible", false);
      };
  
      return {
        // คืนค่าที่ต้องการให้ Component อื่น ๆ เรียกใช้
        formData,
        hide,
        addCategory,
        visibleData
      };
    },
  };
  </script>
  