<!-- CategoryList.vue -->
<template>
  <div>
     <!-- Search input -->
    <el-input
      v-model="searchQuery"
      style="max-width: 40%; height: 40px;"
      placeholder="Please input"
      class="input-with-select"
      clearable
      @clear="clearSearch"
    >
      <template #append>
        <el-button @click="search" type="primary"
          >Search <el-icon class="el-icon--right"><Search /></el-icon
        ></el-button>
      </template>
    </el-input>

    <h2>Category List</h2>
    <el-button type="primary" @click="showAddCategoryFrom"
      >Add Category</el-button
    >
    <CatagoryForm
      :visible.sync="showForm"
      @update:visible="hideAddCategoryFrom"
    />

    <el-table
      :data="displayedCategoryList"
      :default-sort="{ prop: 'createdAt', order: 'descending' }"
      
    >
      <!-- :default-sort="{prop:'createdAt',order:'descending'}" -->

      <el-table-column label="Name" prop="name"></el-table-column>
      <el-table-column label="Description" prop="description"></el-table-column>
      <el-table-column label="Created At" prop="createdAt" sortable width="180">
        <template #default="{ row }">{{ formatDate(row.createdAt) }}</template>
      </el-table-column>
      <el-table-column label="Updated At" prop="updatedAt" width="180">
        <template #default="{ row }">{{ formatDate(row.updatedAt) }}</template>
      </el-table-column>
      <el-table-column label="Actions" width="180">
        <template #default="scope">
          <el-button @click="openEditForm(scope.$index, scope.row)">
            Edit
          </el-button>

          <el-button
            type="danger"
            @click="deleteCategory(scope.$index, scope.row)"
          >
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <EditCategoryForm
      :visible.sync="editDialogVisible"
      :categoryId="selectedCategoryId"
      @update:visible="hideEditForm"
    />
  </div>
</template>
  
  <script>
import { ref, onMounted, watch } from "vue";
import axios from "axios";
import CatagoryForm from "@/components/CatagoryForm.vue";
import EditCategoryForm from "@/components/CategoryEditForm.vue";
export default {
  components: {
    CatagoryForm,
    EditCategoryForm,
  },
  setup() {
    const categories = ref([]);
    const displayedCategoryList = ref([]);
    const editDialogVisible = ref(false);
    const selectedCategoryId = ref("");

    const showForm = ref(false);

    const currentPage = ref(1);
    const pageSize = 10;

    const searchQuery = ref("");

    const fetchCategories = async () => {
      try {
        const response = await axios.get("http://localhost:3000/categorys", {
          params: {
            _sort: "createdAt", // เรียงลำดับตาม createdAt
            _order: "desc", // ใหม่ที่สุดมาก่อน
          },
        });
        categories.value = response.data;
        updateDisplayedCategories();
      } catch (error) {
        console.error("Error fetching categories:", error);
      }
    };
    const deleteCategory = async (index, row) => {
      try {
        await axios.delete(`http://localhost:3000/categorys/${row._id}`);
        fetchCategories();
      } catch (error) {
        console.error("Error deleting product:", error);
      }
    };

    const formatDate = (dateString) => {
      if (!dateString) return ""; // ถ้าไม่มีข้อมูลให้คืนค่าเป็นข้อความว่างเปล่า
      const date = new Date(dateString);
      if (isNaN(date.getTime())) return ""; // ถ้าไม่ใช่วันที่ที่ถูกต้องให้คืนค่าเป็นข้อความว่างเปล่า
      return `${date.getDate()}/${
        date.getMonth() + 1
      }/${date.getFullYear()} ${date.getHours()}:${
        (date.getMinutes() < 10 ? "0" : "") + date.getMinutes()
      }`;
    };

    const showAddCategoryFrom = () => {
      showForm.value = true;
    };

    const hideAddCategoryFrom = () => {
      showForm.value = false;
    };

    const openEditForm = (index, row) => {
      selectedCategoryId.value = row._id;
      console.log(selectedCategoryId.value);
      editDialogVisible.value = true;
    };

    const hideEditForm = () => {
      editDialogVisible.value = false;
      selectedCategoryId.value = "";
    };

    watch(showForm, (newValue) => {
      if (!newValue) {
        fetchCategories();
      }
    });

    const updateDisplayedCategories = () => {
  displayedCategoryList.value = categories.value.filter((category) =>
    category.name.toLowerCase().includes(searchQuery.value.trim().toLowerCase()) 
  );
};

const search = async () => {
      try {
        if (searchQuery.value.trim() !== "") {
          const response = await axios.get(
            "http://localhost:3000/categorys",
            {
              params: {
                q: searchQuery.value.trim(), // ส่งคำค้นหาไปยังเซิร์ฟเวอร์
              },
            }
          );
          categories.value = response.data;
          fetchCategories();
        } else {
          fetchCategories(); // ถ้าไม่มีคำค้นหาให้โหลดข้อมูลทั้งหมด
        }
      } catch (error) {
        console.error("Error searching categories:", error);
      }
    };

    const clearSearch = () => {
      searchQuery.value = ""; // รีเซ็ตค่าคำค้นหาเป็นว่าง
      fetchCategories(); // โหลดข้อมูลทั้งหมด
    };


    onMounted(fetchCategories);
    return {
      categories,
      displayedCategoryList,
      showForm,
      fetchCategories,
      deleteCategory,
      formatDate,
      showAddCategoryFrom,
      openEditForm,
      editDialogVisible,
      selectedCategoryId,
      hideAddCategoryFrom,
      hideEditForm,
      search,
      clearSearch,
      searchQuery
    };
  },
};
</script>