<template>
    <el-dialog
      :model-value="visible"
      @update:modelValue="hideEditForm"
      title="Edit Category"
      width="500"
      high="100"
    >
      <el-form :model="formData" ref="editForm">
        <el-form-item label="Name" prop="name">
          <el-input v-model="formData.name"/>
        </el-form-item>
        
        <el-form-item label="Description" prop="detail">
          <el-input v-model="formData.description" type="textarea"/>
        </el-form-item>
      </el-form>
      <template #footer>
        <div class="dialog-footer">
          <el-button @click="hideEditForm">Cancel</el-button>
          <el-button type="primary" @click="saveEdit">Save</el-button>
        </div>
      </template>
    </el-dialog>
  </template>
  
  <script>
  import { ref, onMounted, watchEffect } from "vue";
  import axios from "axios";
  
  export default {
    props: {
      visible: { type: Boolean, default: false },
      categoryId: { type: String, required: true }, // รับ ID ของสินค้าที่ต้องการแก้ไข
    },
    setup(props, { emit }) {
      const formData = ref({
        name: "",
       description:"",
      });
  
      const fetchCategory = async (categoryId) => {
        try {
          const response = await axios.get(
            `http://localhost:3000/categorys/${categoryId}`
          );
          return response.data;
        } catch (error) {
          console.error("Error fetching category:", error);
          return null;
        }
      };    
  
      const getCategoryData = async () => {
        const categoryData = await fetchCategory(props.categoryId);
        if (categoryData) {
          formData.value = { ...categoryData };
        }
      };
  
      watchEffect(() => {
        getCategoryData();
      });
  
   
  
      // ฟังก์ชันเมื่อคลิกที่ปุ่ม Save เพื่อบันทึกการแก้ไข
      const saveEdit = async () => {
        try {
          const response = await axios.put(
            `http://localhost:3000/categorys/${props.categoryId}`,
            formData.value
          );
          console.log(response.data); // แสดงข้อมูลที่ได้รับจากเซิร์ฟเวอร์
          // อัปเดตข้อมูลสินค้าหลังจากการแก้ไขเรียบร้อยแล้ว
          hideEditForm();
        } catch (error) {
          console.error("Error saving category:", error);
        }
      };
  
      // ฟังก์ชันเมื่อคลิกที่ปุ่ม Cancel เพื่อซ่อนฟอร์มแก้ไข
      const hideEditForm = () => {
        emit("update:visible", false);
      };
  
      return {
        formData,
        saveEdit,
        hideEditForm,
      };
    },
  };
  </script>
  