<template>
  <div>
    <!-- Search input -->
    <el-input
      v-model="searchQuery"
      style="max-width: 40%; height: 40px;"
      placeholder="Please input"
      class="input-with-select"
      clearable
      @clear="clearSearch"
    >
      <template #append>
        <el-button @click="search" type="primary"
          >Search <el-icon class="el-icon--right"><Search /></el-icon
        ></el-button>
      </template>
    </el-input>

    <!-- Product List -->
    <h2>Product List</h2>
    <el-button  type="primary" @click="showAddProductForm"
      >Add Product</el-button
    >
    <AddProductForm :visible.sync="showForm" @update:visible="hideForm" />

    <el-table
    style="width: 100%"
      :data="displayedProducts"
      :default-sort="{ prop: 'createdAt', order: 'descending' }"
      
    >
      <el-table-column label="Name" prop="name"></el-table-column>
      <el-table-column label="Price" prop="price"></el-table-column>
      <el-table-column label="Detail" prop="detail"></el-table-column>
      <el-table-column label="Quantity" prop="quantity"></el-table-column>
      <el-table-column label="Category" prop="category"></el-table-column>
      <el-table-column label="Created At" prop="createdAt" sortable width="180">
        <template #default="{ row }">{{ formatDate(row.createdAt) }}</template>
      </el-table-column>
      <el-table-column label="Updated At" prop="updatedAt" width="180">
        <template #default="{ row }">{{ formatDate(row.updatedAt) }}</template>
      </el-table-column>
      <el-table-column label="Actions" width = "210">
        <template #default="scope">
          <el-button @click="openEditForm(scope.$index, scope.row)"
            ><el-icon class="el-icon--left"><Edit /></el-icon
        >Edit</el-button
          >

          <el-button
            type="danger"
            @click="deleteProduct(scope.$index, scope.row)"
            ><el-icon class="el-icon--left"><DeleteFilled /></el-icon
        >Delete</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <el-button type="primary">Load More</el-button>

    <EditProductForm
      :visible.sync="showEditFrom"
      @update:visible="hideEditForm" 
      :productId="selectedProductId"
      
    />
  </div>
</template>
  
  
  <script>
import { ref, onMounted ,watch}  from "vue";
import axios from "axios";
import AddProductForm from "@/components/ProductForm.vue"; // Import Component ของฟอร์มเพิ่มสินค้า
import EditProductForm from "@/components/ProductEditForm.vue";
export default {
  components: {
    AddProductForm,
    EditProductForm,
  },
  setup() {
    const products = ref([]); // Use ref instead of data
    const showForm = ref(false);
    const displayedProducts = ref([]);

    const selectedProductId = ref("");
    const showEditFrom = ref(false);

    const searchQuery = ref("");

    const currentPage = ref(1);

    


    const fetchProducts = async () => {
      try {
        const response = await axios.get(
          "http://localhost:3000/products"
        );
        products.value = response.data;
        updateDisplayedProducts();
      } catch (error) {
        console.error("Error fetching products:", error);
      } 
    };

    const updateDisplayedProducts = () => {
  displayedProducts.value = products.value.filter((product) =>
    product.name.toLowerCase().includes(searchQuery.value.trim().toLowerCase()) ||
    product.category.toLowerCase().includes(searchQuery.value.trim().toLowerCase())
  );
};

    const showAddProductForm = () => {
      showForm.value = true;
    };

    const hideForm = () => {
      showForm.value = false;
    };
    const hideEditForm = () => {
      showEditFrom.value = false;
    };

    const openEditForm = (index, row) => {
      selectedProductId.value = row._id;
      console.log(selectedProductId.value);
      showEditFrom.value = true;
    };

    const deleteProduct = async (index, row) => {
      try {
        await axios.delete(`http://localhost:3000/products/${row._id}`);
        fetchProducts();
      } catch (error) {
        console.error("Error deleting product:", error);
      }
    };

    const search = async () => {
      try {
        if (searchQuery.value.trim() !== "") {
          const response = await axios.get(
            "http://localhost:3000/products",
            {
              params: {
                q: searchQuery.value.trim(), // ส่งคำค้นหาไปยังเซิร์ฟเวอร์
              },
            }
          );
          products.value = response.data;
          fetchProducts();
        } else {
          fetchProducts(); // ถ้าไม่มีคำค้นหาให้โหลดข้อมูลทั้งหมด
        }
      } catch (error) {
        console.error("Error searching products:", error);
      }
    };

    const formatDate = (dateString) => {
      if (!dateString) return ""; // ถ้าไม่มีข้อมูลให้คืนค่าเป็นข้อความว่างเปล่า
      const date = new Date(dateString);
      if (isNaN(date.getTime())) return ""; // ถ้าไม่ใช่วันที่ที่ถูกต้องให้คืนค่าเป็นข้อความว่างเปล่า
      return `${date.getDate()}/${
        date.getMonth() + 1
      }/${date.getFullYear()} ${date.getHours()}:${
        (date.getMinutes() < 10 ? "0" : "") + date.getMinutes()
      }`;
    };

    const clearSearch = () => {
      searchQuery.value = ""; // รีเซ็ตค่าคำค้นหาเป็นว่าง
      fetchProducts(); // โหลดข้อมูลทั้งหมด
    };

    watch(showForm, (newValue) => {
      if (!newValue) {
        fetchProducts();
      }
    });

    watch(showEditFrom, (newValue) => {
      if (!newValue) {
        fetchProducts();
      }
    });

    onMounted(fetchProducts);

    return {
      products,
      showForm,
      searchQuery,
      displayedProducts,
      fetchProducts,
      showAddProductForm,
      formatDate,
      openEditForm,
      deleteProduct,
      search,
      clearSearch,
      displayedProducts,
      selectedProductId,
      hideForm,
      showEditFrom,
      hideEditForm,
    };
  },
};
</script>


