<template>
  <el-dialog
    :model-value="visibleData"
    @update:modelValue="hide"
    title="Add Product"
    width="500"
  >
    <el-form :model="formData" ref="productForm">
      <el-form-item label="Name" prop="name">
        <el-input v-model="formData.name"/>
      </el-form-item>
      <el-form-item label="Price" prop="price">
        <el-input v-model="formData.price" type="number"></el-input>
      </el-form-item>
      <el-form-item label="Detail" prop="detail">
        <el-input v-model="formData.detail" type="textarea"/>
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="formData.quantity" type="number"/>
      </el-form-item>
      <el-form-item label="Category">
        <el-select v-model="formData.category" placeholder="Select category">
          <el-option
            v-for="category in categories"
            :key="category._id"
            :label="category.name"
            :value="category.name"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer">
        <el-button @click="hide">Cancel</el-button>
        <el-button type="primary" @click="addProduct"> Confirm </el-button>
      </div>
    </template>
  </el-dialog>
</template>

<script>
import { ref, watch, onMounted } from "vue";
import axios from "axios";

export default {
  props: {
    initialData: {
      type: Object,
      default: () => ({}),
    },
    visible: { type: Boolean, default: false },
  },
  setup(props,{emit}) {
    // สร้าง ref variables
    const formData = ref({
      name: "",
      price: "",
      detail: "",
      quantity: "",
      category: "",
    });
    const visibleData = ref(props.visible);
    const categories = ref([]); // รายการ category ทั้งหมด
    //const formLabelWidth = '140px'
    // ฟังก์ชัน fetchCategories ที่ใช้สำหรับโหลดข้อมูล category
    const fetchCategories = async () => {
      try {
        const response = await axios.get("http://localhost:3000/categorys");
        categories.value = response.data;
      } catch (error) {
        console.error("Error fetching categories:", error);
      }
    };

    // เรียกใช้งาน fetchCategories เมื่อ Component ถูก Mount
    onMounted(fetchCategories);

    
     // เมื่อ props.visible เปลี่ยนแปลงให้อัพเดตค่าของ visibleData
     watch(
      () => props.visible,
      (newValue) => {
        visibleData.value = newValue;
      }
    );

    
    // ฟังก์ชัน addProduct สำหรับเพิ่มสินค้า
    const addProduct = async () => {
      try {
        const response = await axios.post(
          "http://localhost:3000/products",
          formData.value
        );
        console.log("Product added successfully:", response.data);
        // เมื่อเพิ่มสินค้าเรียบร้อยแล้ว ปิด Dialog
        hide();
        // เคลียร์ข้อมูลในฟอร์ม
    formData.value = {
      name: "",
      price: "",
      detail: "",
      quantity: "",
      category: ""
    };
      } catch (error) {
        console.error("Error adding product:", error);
      }
    };
    const hide = () => {
      emit("update:visible", false);
      
    };

    return {
      // คืนค่าที่ต้องการให้ Component อื่น ๆ เรียกใช้
      formData,
      categories,
      hide,
      addProduct,
      visibleData
    };
  },
};
</script>
