<template>
  <el-dialog
    :model-value="visible"
    @update:modelValue="hideEditForm"
    title="Edit Product"
    width="500"
  >
    <el-form :model="formData" ref="editForm">
      <el-form-item label="Name" prop="name">
        <el-input v-model="formData.name"/>
      </el-form-item>
      <el-form-item label="Price" prop="price">
        <el-input v-model="formData.price" type="number"/>
      </el-form-item>
      <el-form-item label="Detail" prop="detail">
        <el-input v-model="formData.detail" type="textarea" />
      </el-form-item>
      <el-form-item label="Quantity" prop="quantity">
        <el-input v-model="formData.quantity" type="number"/>
      </el-form-item>
      <el-form-item label="Category" prop="category">
        <el-select v-model="formData.category" placeholder="Select category">
          <el-option
            v-for="category in categories"
            :key="category._id"
            :label="category.name"
            :value="category.name"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer">
        <el-button @click="hideEditForm">Cancel</el-button>
        <el-button type="primary" @click="saveEdit">Save</el-button>
      </div>
    </template>
  </el-dialog>
</template>

<script>
import { ref, onMounted, watchEffect } from "vue";
import axios from "axios";

export default {
  props: {
    visible: { type: Boolean, default: false },
    productId: { type: String, required: true }, // รับ ID ของสินค้าที่ต้องการแก้ไข
  },
  setup(props, { emit }) {
    const formData = ref({
      name: "",
      price: "",
      detail: "",
      quantity: "",
      category: "",
    });
    const categories = ref([]);

    const fetchCategories = async () => {
      try {
        const response = await axios.get("http://localhost:3000/categorys");
        categories.value = response.data;
      } catch (error) {
        console.error("Error fetching categories:", error);
      }
    };

    const fetchProduct = async (productId) => {
      try {
        const response = await axios.get(
          `http://localhost:3000/products/${productId}`
        );
        return response.data;
      } catch (error) {
        console.error("Error fetching product:", error);
        return null;
      }
    };

    const getProductData = async () => {
      const productData = await fetchProduct(props.productId);
      if (productData) {
        formData.value = { ...productData };
      }
    };

    watchEffect(() => {
      getProductData();
    });

    onMounted(() => {
      fetchCategories();
    });

    // ฟังก์ชันเมื่อคลิกที่ปุ่ม Save เพื่อบันทึกการแก้ไข
    const saveEdit = async () => {
      try {
        const response = await axios.put(
          `http://localhost:3000/products/${props.productId}`,
          formData.value
        );
        console.log(response.data); // แสดงข้อมูลที่ได้รับจากเซิร์ฟเวอร์
        // อัปเดตข้อมูลสินค้าหลังจากการแก้ไขเรียบร้อยแล้ว
        hideEditForm();
      } catch (error) {
        console.error("Error saving product:", error);
      }
    };

    // ฟังก์ชันเมื่อคลิกที่ปุ่ม Cancel เพื่อซ่อนฟอร์มแก้ไข
    const hideEditForm = () => {
      emit("update:visible", false);
    };

    return {
      formData,
      categories,
      saveEdit,
      hideEditForm,
    };
  },
};
</script>
