body{
  margin: 0;
  font-family:  Arial
}

header.el-header{
  --el-header-padding:0 0px;
}





main {
      
  background: #EEF1F4;
}

main.el-main{
  display: flex;
  flex-direction: column;
}



button.el-button.el-button--primary{
  margin: 10px;
}




